# URLScan.io API key
# Get yours free at https://urlscan.io/user/signup
URLSCAN_API_KEY=your_urlscan_api_key_here

# Google Safe Browsing API key
# Get yours free at https://developers.google.com/safe-browsing
GOOGLE_API_KEY=your_google_api_key_here
